*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* designing the counter container */
#Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0 5px black;
    padding: 50px;
    border-radius: 5px;
}
button{
    padding: 5px 15px;
    font-size: medium;
    font-weight: 600;
}
#displayValue{
    font-size: 25px;
    padding: 5px 15px;
    border: 1px solid black;
}